@using PersonerosWeb.Helpers;
@using PersonerosWeb.Resourses;
@using PersonerosWeb.Models;
@using PersonerosWeb.Utility;
@{
    Layout = null;
    Usuario usuario = SessionHelper.GetUser();
    List<MenuHelper> opcionesMenu = new List<MenuHelper>{ 
        new MenuHelper(Controlador.acta, Ruta.acta, Icono.acta, Opcion.acta, false),
        new MenuHelper(Controlador.distrito, Ruta.distrito, Icono.distrito, Opcion.distrito, true),
        new MenuHelper(Controlador.institucion, Ruta.institucion, Icono.institucion, Opcion.institucion, true),
        new MenuHelper(Controlador.mesa, Ruta.mesa, Icono.mesa, Opcion.mesa, false),
        new MenuHelper(Controlador.persona, Ruta.persona, Icono.persona, Opcion.persona, true),
        new MenuHelper(Controlador.tipoEleccion, Ruta.tipoEleccion, Icono.tipoEleccion, Opcion.tipoEleccion, true),
        new MenuHelper(Controlador.tipoUsuario, Ruta.tipoUsuario, Icono.tipoUsuario, Opcion.tipoUsuario, true),
        new MenuHelper(Controlador.usuario, Ruta.usuario, Icono.usuario, Opcion.usuario, false)
    };
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="~/Img/icon.png">
    <!-- Bootstrap -->
    <link href="~/Assets/css/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="~/Assets/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <!-- Jquery -->
    <script src="~/Assets/js/jquery/jquery-3.6.0.min.js"></script>
    <script src="~/Assets/js/login/jquery.form.js"></script>
    <!-- DataTable -->
    <link href="~/Assets/css/datatable/datatables.css" rel="stylesheet" />
    <link href="~/Assets/css/datatable/datatables.min.css" rel="stylesheet" />
    <!-- Highchart -->
    <link href="~/Assets/css/highcharts/highcharts.css" rel="stylesheet" />
    @*<script src="~/Assets/js/highcharts/highcharts.js"></script>*@
    <script src="~/Assets/js/highcharts/highcharts-3d.js"></script>
    <script src="~/Assets/js/highcharts/highcharts-more.js"></script>
    <script src="~/Assets/js/highcharts/exporting.js"></script>
    <script src="~/Assets/js/highcharts/offline-exporting.js"></script>
    <script src="~/Assets/js/highcharts/accessibility.js"></script>
    <script src="~/Assets/js/highcharts/export-data.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/gantt/highcharts-gantt.js"></script>
    <script src="https://code.highcharts.com/gantt/modules/gantt.js"></script>
    @*<script src="~/Assets/js/highcharts/highcharts-gantt.js"></script>
    <script src="~/Assets/js/highcharts/gantt.js"></script>*@
    <!-- Sweet Alert 2 -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- Layout -->
    <link href="~/Assets/css/layout/style.css" rel="stylesheet" />
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <!-- Chosen -->
    <link href="~/Assets/chosen/Content/bootstrap-chosen.css" rel="stylesheet" />
    <!-- Fancybox -->
    <link href="~/Assets/css/fancybox/jquery.fancybox.css" rel="stylesheet" />
</head>
<body>
    <div class="sidebar close">
        <div class="logo-details">
            @*<i class='bx bxl-c-plus-plus'></i>*@
            <i>

            <img src="~/Img/icon.png" class="rounded" height="50px" width="50px"/>
            </i>
            <span class="logo_name">SCPFT</span>
        </div>
        <ul class="nav-links pe-1">
            @foreach(MenuHelper menu in opcionesMenu) {
                if(menu.muestra) {
                    <li class="py-2 @Html.IsActive(menu.controlador, Ruta.accionIndex)">
                        <a href="~/@menu.ruta">
                            <i class='@menu.icono'></i>
                            <span class="link_name">@menu.opcion</span>
                        </a>
                        <ul class="sub-menu blank">
                            <li>@Html.ActionLink(menu.opcion, Ruta.accionIndex, menu.controlador, null, new { @class = "link_name" })</li>
                        </ul>
                    </li>
                }
            }
            <li class="py-2">
                <div class="profile-details">
                    <div class="name-job ms-3">
                        @if(@usuario.nombreUsuario != null) {
                            <div class="profile_name">@usuario.persona.nombres.Split(' ')[0] @usuario.persona.apellidoPaterno</div>
                            <div class="job">@usuario.tipoUsuario.nombre</div>
                        } else {
                            <div class="profile_name">Jose Gutierrez</div>
                            <div class="job">Administrador</div>
                        }
                    </div>
                    <a href="~/Login/CerrarSesion"><i class='bx bx-log-out'></i></a>
                </div>
            </li>
        </ul>
    </div>
    <section class="home-section">
        <div class="home-content p-1" id="top-bar" style="position:fixed;top:0;z-index:99;background-color:#fff;width:100%;">

            <i class='bx bx-menu' id="btn-menu"></i>
            <span class="text">Sistema de Control de Personeros - Fuerza Tacna</span>

        </div>
        <div class="container pt-5">
            @RenderBody()
            <footer class="col-12 text-center text-secondary pt-2 pb-2">
                <hr />
                &copy; @DateTime.Now.Year <span class="fst-italic">By Chano</span> &copy;
            </footer>
        </div>
    </section>
    <script>
        let arrow = document.querySelectorAll(".arrow");
        for (var i = 0; i < arrow.length; i++) {
            arrow[i].addEventListener("click", (e) => {
                let arrowParent = e.target.parentElement.parentElement;//selecting main parent of arrow
                arrowParent.classList.toggle("showMenu");
            });
        }
        let sidebar = document.querySelector(".sidebar");
        let sidebarBtn = document.querySelector(".bx-menu");
        let topBar = document.querySelector("#top-bar");
        sidebarBtn.addEventListener("click", () => {
            sidebar.classList.toggle("close");
            topBar.classList.toggle("top-bar-100");
        });
    </script>

    <!-- Bootstrap -->
    <script src="~/Assets/js/bootstrap/bootstrap.min.js"></script>
    <!-- DataTable -->
    <script src="~/Assets/js/datatable/datatables.min.js"></script>
    <script src="~/Assets/js/datatable/datatables.js"></script>
    <!-- Login -->
    <script src="~/Assets/js/login/ini.js"></script>
    <script src="~/Assets/js/login/jquery.validate.min.js"></script>
    <script src="~/Assets/js/login/jquery.validate.unobtrusive.min.js"></script>
    <!-- Layout -->
    <script src="~/Assets/js/layout/script.js"></script>
    <!-- Chosen -->
    <script src="~/Assets/chosen/Scripts/chosen.jquery.js"></script>
    <!-- Fancybox -->
    <script src="~/Assets/js/fancybox/jquery.fancybox.js"></script>
</body>
</html>

<script>
    $(document).ready(function () {
        $("#table").DataTable({
            "aLengthMenu": [[10, 25, 50, 100, 200, -1], [10, 25, 50, 100, 200, "Todos"]],
            "bDestroy": true,
            "language": {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en esta tabla",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "?ltimo",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                }
            }
        });

        $("#table_2").DataTable({
            "aLengthMenu": [[10, 25, 50, 100, 200, -1], [10, 25, 50, 100, 200, "Todos"]],
            "bDestroy": true,
            "language": {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en esta tabla",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "?ltimo",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                }
            }
        });
        $("#table_3").DataTable({
            "aLengthMenu": [[10, 25, 50, 100, 200, -1], [10, 25, 50, 100, 200, "Todos"]],
            "bDestroy": true,
            "language": {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en esta tabla",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "?ltimo",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                }
            }
        });
    });
</script>