@using PersonerosWeb.Models;
@model Persona
@{
    ViewBag.Title = "Detalle de la Persona";
    Layout = null;
}

<div class="card">
    <div class="card-body">
        <dl class="dl-horizontal">
            <dt>ID</dt>
            <dd>@Model.idPersona</dd>
            <dt>DNI</dt>
            <dd>@Model.dni</dd>
            <dt>Nombres</dt>
            <dd>@Model.nombres</dd>
            <div class="row">
                <div class="col">
                    <dt>Apellido Paterno</dt>
                    <dd>@Model.apellidoPaterno</dd>
                </div>
                @if(@Model.apellidoMaterno != null) {
                    <div class="col">
                        <dt>Apellido Mateno</dt>
                        <dd>@Model.apellidoMaterno</dd>
                    </div>
                }
            </div>
            <dt>Teléfono/Celular</dt>
            <dd>@Model.celular</dd>
            <dt>Dirección de Residencia</dt>
            <dd>@Model.direccion (@Model.distritoResidencia.nombre)</dd>
            <dt>Centro de Votación</dt>
            <dd>@Model.institucionVotacion.nombre (@Model.institucionVotacion.distrito.nombre)</dd>
        </dl>
    </div>
</div>